version: "3"
services:
  postgresql:
    image: postgres:15
    env_file: .env
    ports:
      - "5432:5432"
    networks:
      - backend
    volumes:
      - postgresql:/var/lib/postgresql/data

  liquibase:
    image: liquibase/liquibase:4.25
    depends_on:
      - postgresql
    env_file: .env
    restart: 'on-failure'
    command:
      - --changelog-file=db.master-changelog.xml
      - --driver=org.postgresql.Driver
      - --url=jdbc:postgresql://postgresql:5432/${POSTGRES_DB}
      - --username=${POSTGRES_USER}
      - --password=${POSTGRES_PASSWORD}
      - update
    networks:
      - backend
    volumes:
      - ./db/migration:/liquibase/changelog

  prometheus:
    image: prom/prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus:/etc/prometheus
      - prometheus-data:/prometheus
    command:
      - --config.file=/etc/prometheus/prometheus.yml
    extra_hosts:
      - "host.docker.internal:host-gateway"

  grafana:
    image: grafana/grafana-oss
    environment:
      GF_SERVER_ROOT_URL: "%(protocol)s://desheviy-smak.ru:%(http_port)s/grafana/"
      GF_SERVER_SERVE_FROM_SUB_PATH: "true"
    ports:
      - "3000:3000"
    volumes:
      - grafana-data:/var/lib/grafana
    extra_hosts:
      - "host.docker.internal:host-gateway"

  api:
    build: .
    env_file: .env
    restart: on-failure
    ports:
      - "8089:8000"
    networks:
      - backend

volumes:
  postgresql: { }
  prometheus-data: { }
  grafana-data: { }

networks:
  backend: { }
